* {
  margin: 0;
  padding: 0;
}
/* import fonts */
@font-face {
  font-family: "Aller";
  src: url("../fonts/Aller_Std_Lt.ttf");
}

@font-face {
  font-family: "Aller-Bold";
  src: url("../fonts/Aller_Std_BdIt.ttf");
}

/* Variaveis */
:root {
  --color-background: rgb(130, 2, 98);
  --color-black: #212121;
  --color-full-black: #000000;
  --color-text: #f7f7ff;
  --color-text-out: #2e294e;
  --color-primary: #ffbf00;
  --color-secondary: #fff2cc;
  --color-white: #ffffff;
  --color-red: #d1462f;
  --color-green: #2ecc71;
  --color-separate: #cccccc;

  --fontPadrao: "Aller", "Rubik", sans-serif;
  --fontDestaque: "Aller-Bold", "Rubik", sans-serif;
}

body {
  font-family: "Aller", sans-serif;
  background-image: url(https://s1.1zoom.me/big0/485/Cats_Dogs_Colored_background_Lying_down_Poodle_572003_1280x853.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


/* header */

.header {
    background-color: var(--color-background);
    border-radius: 2px;
    box-shadow: 1px 1px 1px var(--color-black);
}

#pet, #go,
#place {
  font-family: var(--fontPadrao);
}

.navbar #go {
    color: var(--color-white);
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Aller", sans-serif;
    font-size: 43px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
  }

.navbar #pet {
    color: var(--color-text-out);
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Aller", sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
  }

.navbar #place {
  color: var(--color-white);
  font-family: "Aller", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}


.navbar-nav .nav-link:hover {
  text-decoration: underline;
  background-color: var(--color-text-out);
}

.header .nav-item {
  font-size: large;
  color: var(--color-white);
}



/* Home text formatting */
.home {
  /* Move the text downwards */
  margin-top: 100px;

  /* Align the text to the center from left to right */
  text-align: center;
}

.btn {
  color: var(--color-white);
}
